/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
        /* Common Font Color */
        .dark-1{
            color: rgb(19, 19, 19);
        }
        .dark-2{
            color: rgb(66, 66, 66);
            font-size: 1rem;
        }
        .holud{
            color: #FF900E;
        }

        /* Alignment */
        .display-flex{
            display: flex;
            
        }
        .display-flex-column{
            display: flex;
            flex-direction: column;
        }
        /* Button Design */
        .btn-primary{
            background-color: #FF900E;
            border-radius: 8px;
            border: none;
            color: white;
            font-size: 1rem;
            font-weight: 600;
            padding: 20px 24px;
        }
        
/* NAV STYLES */
/* NAV LIST */
nav ul{
    list-style: none;
    gap: 20px;
}
nav a{
text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header{
    background-color: #FF900E10;

}
.container1{
    max-width: 1200px;
    margin: 0 auto;
    
}

.header-container-title{
    font-size: 4rem;
    font-weight: bold;
    margin: 0 auto;

}

.header-container-text{
   
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}
.header-container{
    flex-direction: column;
   

}
.header-container p{
    max-width: 52rem;
    padding-bottom: 3rem;
}
.header-container h3{
    
}

main{
    max-width: 1200px;
    margin: 0 auto;
    
}
/* First Section */
.main-first-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Features Section */
.features{
    margin-top: 4rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: spa;
}
.features-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features-text h3{
    font-size: 3rem;

}
#quick-list{
    color:#727272;
    font-weight: 600;
}

/* Features Card Section */
    /* Left Side */
    .features-card-parent{
        margin-top: 130px;
        display: flex;
        gap: 4rem;

    }
    .features-card h5{
        font-size: 1.25rem;
        font-weight: 600;
        margin: 0px;
       
    }
    #card-title{
        font-size: 2rem;
        font-weight: 600;
        border-left: 5px solid #FF900E;
        padding-left: 1rem;
        

    }
    .features-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 0px;
    }

    #experienxe-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#button-experience{
    font-size: 4rem;
    font-weight: bold;
}




/* _____________________ */
/* Responsive */
/* Small Device */
@media screen and (max-width: 576px) {
  
    .nav-list, .nav {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
        padding: 1rem;
        
    }
    
    
    .features{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    header{
        background-color: #FF900E10;
        padding: 1rem;
    }
    .features-image{
        display:grid;
        grid-template-columns: 1fr;
        
    }
    .features-text{
        padding:2rem;
    }
    .container1{
        max-width: auto;
        background-color: #FF900E10;
    }
    .header-container-text{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* Features Card */
    .features-card-parent{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
     #image-btn{
       width: 100%;
       margin-bottom: 200px;
     }
     #button-experience{
        margin-top: 20px;
        padding-top: 20px;   
     }
}

/* Medium Size Display */
@media screen and (min-width:576px) and (max-width: 992px) {
    .features{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .features-text{
        display: flex;
        flex-direction: column;
        margin: 0 5rem;
        align-items: center;
        justify-content: center;
    }
    /* Features Card Parent */
    .features-card-parent{
            display: flex;
            flex-direction: column;
    }
   #image-btn{
       width: 100%;
       margin-bottom: 200px;}
   }
   #button-experience{
        margin-top: 20px;
        padding-top: 20px;   
     }